body.login {
    padding-top: 114px;
}

/* self-clear floats */
.login form:after { content:"."; display:block; height:0; clear:both; visibility:hidden; overflow: hidden; }

/* ie.css, damn ie! */
* html .login form { /* IE6 */
    height:1%;
}
*:first-child+html .login form { /* IE7 */
    min-height:1%;
}

.login form {
    margin: 0 0 20px;
    padding: 0;
    border: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    background: none;
}

#login {
    clear: both;
    border: 1px solid #d2d2d2;
    margin-bottom: 24px;
    text-align: left;
    border-collapse: separate;
    padding: 42px 40px;
    background:#fff;
    position: relative;
    display: block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px
}

#login:after {
    display: block;
    overflow: visible;
    position: absolute;
    width: 100%;
    height: 11px;
    background: url('../images/box-bottom.png') no-repeat top center !important;
    background-size: 100% auto !important;
    max-width: 348px;
    left: 0;
    right: 0;
    bottom: -12px;
    margin: 0 auto;
    content: " ";
}

.login form .input, .login input[type="text"] {
    background: #f2f2f2 no-repeat center right;
    border: 1px solid #b4b4b4;
    font-size: 12px;
    font-weight: 400;
    padding: 9px 42px 9px 20px;
    color: #a3a3a3;
    line-height: 1.5em;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.05) inset;
       -moz-box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.05) inset;
            box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.05) inset;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
       -moz-transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -ms-transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
         -o-transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

input#user_login {
    background-image: url('../images/user.png');
}

input#user_pass {
    background-image: url('../images/pass.png');
}

.login form .input:focus, .login input[type="text"]:focus {
    background-color: #fff;
    border: 1px solid #8a8a8a;
    -webkit-box-shadow: 0 0 1px 4px rgba(136, 164, 198, 0.15);
       -moz-box-shadow: 0 0 1px 4px rgba(136, 164, 198, 0.15);
            box-shadow: 0 0 1px 4px rgba(136, 164, 198, 0.15);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;

}

input#wp-submit {
    background: #617291;
    border: 1px solid #3c5072;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14);
    font-size: 15px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    padding: 0 32px;
    height: 35px;
    line-height: 35px;
    font-family: 'Open Sans', sans-serif;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

input#wp-submit:hover {
    background-color: #3c5072;
}

.login form .forgetmenot label {
    font-size: 12px;
    color: #999999;
    font-family: 'Open Sans', sans-serif;
}


#login form p.submit {
    padding-top: 20px;
}

#login form p.forgetmenot {
    padding-top: 29px;
}

#rememberme {
    display: none
}

#rememberme + span {
    position: relative;
    top: -2px;
    margin-right: 4px;
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url('../images/checkbox.png') no-repeat left top;
}

#rememberme:checked + span {
    background-position: bottom left;
}

#login_error, .login .message {
    margin: 0;
}

.login #nav, .login #backtoblog {
    clear: both;
    margin: 0;
    padding: 10px 0 0;
    text-align: center;
}

#login img.mascotte {
    position: absolute;
    right: -132px;
    top: 80px;
}

/* TEMP */
.login label {
    font-size: 0;
}
.login form .input, .login input[type="text"] {
    margin-bottom: 0;
}
/* END TEMP */